# A7: Blackbox methods (ANN and SVM)
Alex Dien
10/31/22

# Table of Contents

>[A7: Blackbox methods (ANN and SVM)](#scrollTo=Hk0FF9Wsr-KO)

>[Table of Contents](#scrollTo=mo2g0z7dtnWo)

>[Task 1 - Prepare your data](#scrollTo=qsR-rr7MsX4U)

>>>[A. Package loading, and data import. Make sure to read the data in with the encoding parameter set as follows:](#scrollTo=5YQ09-P_uuxC)

>>>[B. Show overall structure and summary of input data](#scrollTo=CY13OGHlu7cx)

>>>[C. Pop the target variable](#scrollTo=aFlMz8HUIKHJ)

>>>[C1: encode the target variable using the following code: y_target = y_target.eq('yes').mul(1). Show the first 7 entries of your newly encoded target variable.](#scrollTo=8n5bHGovg48B)

>>>[D. Are there any numeric columns that need to be converted to categorical prior to one-hot encoding? If so do it here, otherwise note it in a text block.](#scrollTo=92-yGhPPhU6C)

>>>[E. Encode the dataframe using pd.get_dummies() show the head of the encoded dataframe.](#scrollTo=Z6_k-N6miaAu)

>[Task 2](#scrollTo=Dc1iMMD8sdIs)

>>[Train multiple MLP models and use 5 fold cross validation for each one to evaluate their performance for the following metrics](#scrollTo=hbvWhC2UvhEz)

>>>[Accuracy, Precision, Recall, F1. The CV results should be shown as a dataframe for each model as shown in the tutorial code. Compute the mean (ie results.mean()) to get the average results across cross validation.](#scrollTo=QnbjNpIVi6db)

>>[Do not use GridSearchCV for this section. Each model must be built and cross validated individually](#scrollTo=47TwDd7dnYTn)

>>>[1 hidden layer with 7 neurons](#scrollTo=uyGHLyg2ngZd)

>>>[2 hidden layers each with 30 neurons](#scrollTo=MMEDDnSZoUWE)

>>>[3 hidden layers, the first has 25 neurons and the second and third have 10 neurons](#scrollTo=RRooNSe-op_C)

>>>[2 hidden layers each with 20 neurons](#scrollTo=J8078SXrpI2b)

>>>[2 hidden layers each with 10 neurons](#scrollTo=n2pCf6RTpWyL)

>>[Describe after evaluating each model which model appears to have the best average accuracy score by examining the results.](#scrollTo=tvJhLq0a4K49)

>[Task 3](#scrollTo=ZdAY1o-crYDv)

>>[Using the best model hidden layer sizes from Step 2 as you have determined the best accuracy score.](#scrollTo=nta4V8mfrlUG)

>>>[Build 2 new models and change both the learning_rate_init, the activation, and the solver hyperparameters](#scrollTo=clEO1BohsVnD)

>[Task 4](#scrollTo=oQgf00QvYLCK)

>>>[Using GridSearchCV attempt to improve on the the best model from Task 2. Try a variety of hyperparameter combinations is gridsearch (at least 20 combinations <--- not to exceed 10 minutes total runtime. if you find your runtime is exceeding 10 minutes you may use less combinations). You may change the number of hidden layers as well and you might want to if your results in task 3 didn't improve your model. Use scoring of 'accuracy'](#scrollTo=e1GhnEFEi-bc)

>>>[Show the top 5 results in a dataframe sorted by rank.](#scrollTo=GE693Lbu1Juz)

>[Task 5](#scrollTo=BG06VTQO3sSJ)

>>>[Using GridSearchCV (use scoring of 'accuracy' explore at least 40 hyperparameter combinations of C and kernel for the SVC classifier](#scrollTo=qyndpkYK40vj)

>>>[Show the top 5 results in a dataframe sorted by rank.](#scrollTo=kGy8jCUySBEv)

>[Task 6](#scrollTo=LNaSi1tSCPzB)

>>>[Write up your reflections on all of the models built. Which model was most successful? What would you do to potentially improve on the successes of these models?](#scrollTo=cp3FakQJCh5Y)

# Task 1 - Prepare your data

### A. Package loading, and data import. Make sure to read the data in with the encoding parameter set as follows:

Make sure to use the encoding='latin-1' as a parameter in pd.read_csv()

In [ ]:
# load packages
import numpy as np
import pandas as pd

from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix,\
 recall_score, precision_score, f1_score, accuracy_score, make_scorer,\
  precision_recall_fscore_support

from sklearn.model_selection import train_test_split, cross_validate

from sklearn.neural_network import MLPClassifier
from sklearn.svm import SVC

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/matthewpecsok/4482_fall_2022/main/data/CD_additional_modified.csv")

### B. Show overall structure and summary of input data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4117 entries, 0 to 4116
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4117 non-null   int64
 1   job             4117 non-null   object
 2   marital         4117 non-null   object
 3   education       4117 non-null   object
 4   default         4117 non-null   object
 5   housing         4117 non-null   object
 6   loan            4117 non-null   object
 7   contact         4117 non-null   object
 8   month           4117 non-null   object
 9   day_of_week     4117 non-null   object
 10  duration        4117 non-null   int64
 11  campaign        4117 non-null   int64
 12  pdays           4117 non-null   int64
 13  previous        4117 non-null   int64
 14  poutcome        4117 non-null   object
 15  emp_var_rate    4117 non-null   float64
 16  cons_price_idx  4117 non-null   float64
 17  cons_conf_idx   4117 non-null   float64
 18  euribor3m       4117 non-null   float64
 19  nr_employed     4117 non-null   float64
 20  y               4117 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.6+ KB

In [ ]:
# Show overall structure
df.describe(include='all')

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
count,4117.000000,4117,4117,4117,4117,4117,4117,4117,4117,4117,...,4117.000000,4117.000000,4117.000000,4117,4117.000000,4117.000000,4117.000000,4117.000000,4117.000000,4117
unique,NaN,12,4,7,2,3,3,2,10,5,...,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,2
top,NaN,admin.,married,university.degree,no,yes,no,cellular,may,thu,...,NaN,NaN,NaN,nonexistent,NaN,NaN,NaN,NaN,NaN,no
freq,NaN,1012,2508,1264,3314,2175,3347,2650,1378,860,...,NaN,NaN,NaN,3522,NaN,NaN,NaN,NaN,NaN,3666
mean,40.115375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.537042,960.403449,0.190187,NaN,0.085742,93.580131,-40.500947,3.621904,5166.496502,NaN
std,10.314847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.568668,191.967524,0.541765,NaN,1.562799,0.579061,4.593445,1.733448,73.670942,NaN
min,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,0.000000,0.000000,NaN,-3.400000,92.201000,-50.800000,0.635000,4963.600000,NaN
25%,32.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.000000,999.000000,0.000000,NaN,-1.800000,93.075000,-42.700000,1.334000,5099.100000,NaN
50%,38.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000000,999.000000,0.000000,NaN,1.100000,93.749000,-41.800000,4.857000,5191.000000,NaN
75%,47.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.000000,999.000000,0.000000,NaN,1.400000,93.994000,-36.400000,4.961000,5228.100000,NaN
max,88.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.000000,999.000000,6.000000,NaN,1.400000,94.767000,-26.900000,5.045000,5228.100000,NaN

In [ ]:
# Summary of df
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no
4,47,admin.,married,university.degree,no,yes,no,cellular,nov,mon,...,1,999,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,no

### C. Pop the target variable

In [ ]:
y_target = df.pop('y')

### C1: encode the target variable using the following code: y_target = y_target.eq('yes').mul(1). Show the first 7 entries of your newly encoded target variable.

In [ ]:
y_target = y_target.eq('yes').mul(1)

In [ ]:
y_target.head(7)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
Name: y, dtype: int64

### D. Are there any numeric columns that need to be converted to categorical prior to one-hot encoding? If so do it here, otherwise note it in a text block.

In [ ]:
integer_columns_list = list(df.select_dtypes(include='int64').columns)
df[integer_columns_list] = df[integer_columns_list].astype('float')
object_columns_list = list(df.select_dtypes(include='object').columns)
df[object_columns_list] = df[object_columns_list].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4117 entries, 0 to 4116
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4117 non-null   float64
 1   job             4117 non-null   category
 2   marital         4117 non-null   category
 3   education       4117 non-null   category
 4   default         4117 non-null   category
 5   housing         4117 non-null   category
 6   loan            4117 non-null   category
 7   contact         4117 non-null   category
 8   month           4117 non-null   category
 9   day_of_week     4117 non-null   category
 10  duration        4117 non-null   float64
 11  campaign        4117 non-null   float64
 12  pdays           4117 non-null   float64
 13  previous        4117 non-null   float64
 14  poutcome        4117 non-null   category
 15  emp_var_rate    4117 non-null   float64
 16  cons_price_idx  4117 non-null   float64
 17  cons_conf_idx   4117 non-null   float64
 18  euribor3m       4117 non-null   float64
 19  nr_employed     4117 non-null   float64
dtypes: category(10), float64(10)
memory usage: 364.1 KB

### E. Encode the dataframe using pd.get_dummies() show the head of the encoded dataframe.

In [ ]:
X = pd.get_dummies(df)

In [ ]:
X.head()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,30.0,487.0,2.0,999.0,0.0,-1.8,92.893,-46.2,1.313,5099.1,...,0,0,1,0,0,0,0,0,1,0
1,39.0,346.0,4.0,999.0,0.0,1.1,93.994,-36.4,4.855,5191.0,...,0,0,1,0,0,0,0,0,1,0
2,25.0,227.0,1.0,999.0,0.0,1.4,94.465,-41.8,4.962,5228.1,...,0,0,0,0,0,0,1,0,1,0
3,38.0,17.0,3.0,999.0,0.0,1.4,94.465,-41.8,4.959,5228.1,...,0,0,1,0,0,0,0,0,1,0
4,47.0,58.0,1.0,999.0,0.0,-0.1,93.200,-42.0,4.191,5195.8,...,0,0,0,1,0,0,0,0,1,0

# Task 2

## 1. Train multiple MLP models and use 5 fold cross validation for each one to evaluate their performance for the following metrics

### 1. Accuracy, Precision, Recall, F1. The CV results should be shown as a dataframe for each model as shown in the tutorial code. Compute the mean (ie results.mean()) to get the average results across cross validation.

In [ ]:
model_1 = MLPClassifier(random_state=2021,hidden_layer_sizes=()).fit(X,y_target)

In [ ]:
model_1_cv_results = pd.DataFrame(cross_validate(model_1,
               X,
               y_target,
               cv = 5,
               return_train_score=True,
               scoring=['accuracy','recall','precision','f1']))

model_1_cv_results.mean()

fit_time           2.140564
score_time         0.008653
test_accuracy      0.899442
train_accuracy     0.899138
test_recall        0.421880
train_recall       0.437804
test_precision     0.558776
train_precision    0.576607
test_f1            0.458333
train_f1           0.474369
dtype: float64

## 2. Do not use GridSearchCV for this section. Each model must be built and cross validated individually

### 1 hidden layer with 7 neurons

In [ ]:
model_2 = MLPClassifier(random_state=2021,hidden_layer_sizes=(7,)).fit(X,y_target)

In [ ]:
model_2_cv_results = pd.DataFrame(cross_validate(model_2,
               X,
               y_target,
               cv = 5,
               return_train_score=True,
               scoring=['accuracy','recall','precision','f1']))

model_2_cv_results.mean()

fit_time           1.032850
score_time         0.008100
test_accuracy      0.903572
train_accuracy     0.904967
test_recall        0.193016
train_recall       0.192365
test_precision     0.721265
train_precision    0.766331
test_f1            0.289863
train_f1           0.297261
dtype: float64

### 2 hidden layers each with 30 neurons

In [ ]:
model_3 = MLPClassifier(random_state=2021,hidden_layer_sizes=(30,30)).fit(X,y_target)

In [ ]:
model_3_cv_results = pd.DataFrame(cross_validate(model_3,
               X,
               y_target,
               cv = 5,
               return_train_score=True,
               scoring=['accuracy','recall','precision','f1']))

model_3_cv_results.mean()

fit_time           0.840310
score_time         0.009773
test_accuracy      0.900168
train_accuracy     0.906607
test_recall        0.308059
train_recall       0.328758
test_precision     0.629829
train_precision    0.677481
test_f1            0.391559
train_f1           0.420155
dtype: float64

### 3 hidden layers, the first has 25 neurons and the second and third have 10 neurons

In [ ]:
model_4 = MLPClassifier(random_state=2021,hidden_layer_sizes=(25,10,10)).fit(X,y_target)

In [ ]:
model_4_cv_results = pd.DataFrame(cross_validate(model_4,
               X,
               y_target,
               cv = 5,
               return_train_score=True,
               scoring=['accuracy','recall','precision','f1']))

model_4_cv_results.mean()

fit_time           5.352936
score_time         0.009816
test_accuracy      0.890454
train_accuracy     0.890454
test_recall        0.000000
train_recall       0.000000
test_precision     0.000000
train_precision    0.000000
test_f1            0.000000
train_f1           0.000000
dtype: float64

### 2 hidden layers each with 20 neurons

In [ ]:
model_5 = MLPClassifier(random_state=2021,hidden_layer_sizes=(20,20)).fit(X,y_target)

In [ ]:
model_5_cv_results = pd.DataFrame(cross_validate(model_5,
               X,
               y_target,
               cv = 5,
               return_train_score=True,
               scoring=['accuracy','recall','precision','f1']))

model_5_cv_results.mean()

fit_time           0.851641
score_time         0.009042
test_accuracy      0.853510
train_accuracy     0.848683
test_recall        0.404371
train_recall       0.399451
test_precision     0.434785
train_precision    0.651037
test_f1            0.307951
train_f1           0.294693
dtype: float64

### 2 hidden layers each with 10 neurons

In [ ]:
model_6 = MLPClassifier(random_state=2021,hidden_layer_sizes=(10,10)).fit(X,y_target)

In [ ]:
model_6_cv_results = pd.DataFrame(cross_validate(model_6,
               X,
               y_target,
               cv = 5,
               return_train_score=True,
               scoring=['accuracy','recall','precision','f1']))

model_6_cv_results.mean()

fit_time           0.984151
score_time         0.008300
test_accuracy      0.905027
train_accuracy     0.906304
test_recall        0.441172
train_recall       0.444597
test_precision     0.620115
train_precision    0.650428
test_f1            0.488095
train_f1           0.485307
dtype: float64

## 3. Describe after evaluating each model which model appears to have the best average accuracy score by examining the results.

After observing each model, model 6 seems to have the best test and train accuracy; test_accuracy      0.905027
train_accuracy     0.906304
by having 2 hidden layers with 10 neurons each.

# Task 3

## 1. Using the best model hidden layer sizes from Step 2 as you have determined the best accuracy score.

### 1. Build 2 new models and change both the learning_rate_init, the activation, and the solver hyperparameters

In [ ]:
model_7 = MLPClassifier(random_state=2021,hidden_layer_sizes=(10,10), learning_rate='constant', activation='relu', solver='adam').fit(X,y_target)

In [ ]:
model_7_cv_results = pd.DataFrame(cross_validate(model_7,
               X,
               y_target,
               cv = 5,
               return_train_score=True,
               scoring=['accuracy','recall','precision','f1']))

model_7_cv_results.mean()

fit_time           0.991087
score_time         0.013636
test_accuracy      0.905027
train_accuracy     0.906304
test_recall        0.441172
train_recall       0.444597
test_precision     0.620115
train_precision    0.650428
test_f1            0.488095
train_f1           0.485307
dtype: float64

The results of this test are very accurate after changing the hyperparameteres.

In [ ]:
model_8 = MLPClassifier(random_state=2021,hidden_layer_sizes=(7,), learning_rate='adaptive', activation='identity', solver='sgd').fit(X,y_target)

In [ ]:
model_8_cv_results = pd.DataFrame(cross_validate(model_8,
               X,
               y_target,
               cv = 5,
               return_train_score=True,
               scoring=['accuracy','recall','precision','f1']))

model_8_cv_results.mean()

fit_time           1.643500
score_time         0.008270
test_accuracy      0.890454
train_accuracy     0.890454
test_recall        0.000000
train_recall       0.000000
test_precision     0.000000
train_precision    0.000000
test_f1            0.000000
train_f1           0.000000
dtype: float64

The results of this test went down by 1%.

# Task 4

### Using GridSearchCV attempt to improve on the the best model from Task 2. Try a variety of hyperparameter combinations is gridsearch (at least 20 combinations <--- not to exceed 10 minutes total runtime. if you find your runtime is exceeding 10 minutes you may use less combinations). You may change the number of hidden layers as well and you might want to if your results in task 3 didn't improve your model. Use scoring of 'accuracy'

In [ ]:
from sklearn.model_selection import GridSearchCV
parameters = {'hidden_layer_sizes':[
                                    (5,5),
                                    (10,10),
                                    (20,20,20),
                                    (30,10,10),
                                    ],
              'learning_rate_init':[0.1,0.01],
              'activation':['logistic', 'tanh', 'relu'],
              'alpha':[0.001,0.01,0.1]
              }
mlp = MLPClassifier(random_state=2021)
clf = GridSearchCV(mlp, parameters,scoring='accuracy',return_train_score=True,cv=5)
clf.fit(X, y_target)

GridSearchCV(cv=5, estimator=MLPClassifier(random_state=2021),
             param_grid={'activation': ['logistic', 'tanh', 'relu'],
                         'alpha': [0.001, 0.01, 0.1],
                         'hidden_layer_sizes': [(5, 5), (10, 10), (20, 20, 20),
                                                (30, 10, 10)],
                         'learning_rate_init': [0.1, 0.01]},
             return_train_score=True, scoring='accuracy')

### 2. Show the top 5 results in a dataframe sorted by rank.

In [ ]:
grid_search_df = pd.DataFrame(clf.cv_results_)
grid_search_df = round(grid_search_df,4)
grid_search_df = grid_search_df.sort_values('rank_test_score')[['rank_test_score','params','mean_test_score','mean_train_score']]
from google.colab import data_table
data_table.DataTable(grid_search_df)

# Task 5

### 1. Using GridSearchCV (use scoring of 'accuracy' explore at least 40 hyperparameter combinations of C and kernel for the SVC classifier

In [ ]:
parameters = {'C':[5,10,15,20,25,30,35,40,45,50,55,60,65,70,75,80,85,90,95,100],
              'kernel':['rbf','sigmoid']
              }
svc_sequential = SVC(random_state=2021)
svc = GridSearchCV(svc_sequential, parameters,scoring='accuracy',return_train_score=True,cv=5)
svc.fit(X, y_target)

GridSearchCV(cv=5, estimator=SVC(random_state=2021),
             param_grid={'C': [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60,
                               65, 70, 75, 80, 85, 90, 95, 100],
                         'kernel': ['rbf', 'sigmoid']},
             return_train_score=True, scoring='accuracy')

### 2. Show the top 5 results in a dataframe sorted by rank.

In [ ]:
grid_search_df = pd.DataFrame(svc.cv_results_)
grid_search_df = round(grid_search_df,4)
grid_search_df = grid_search_df.sort_values('rank_test_score')[['rank_test_score','params','mean_test_score','mean_train_score']]
from google.colab import data_table
data_table.DataTable(grid_search_df)

# Task 6

### 1. Write up your reflections on all of the models built. Which model was most successful? What would you do to potentially improve on the successes of these models?

Many of the models built have similar performance scores among the train and test accuracies. I found that having 2 hidden layers each with 10 neurons gave me the best results, giving test_accuracy 0.905027 and
train_accuracy 0.906304. The training accuracy is higher than the test which is a good sign that the model has learned and generalised correctly.
For future improvements, I would test out with more hyperparameter combinations to try and get even higher accuracies.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!cp "/content/drive/My Drive/Colab Notebooks/A7_Dien_Alex.ipynb" ./

# create html from ipynb
!jupyter nbconvert --to html "A7_Dien_Alex.ipynb"

[NbConvertApp] Converting notebook A7_Dien_Alex.ipynb to html
[NbConvertApp] Writing 371598 bytes to A7_Dien_Alex.html